<div>
  <h1 class="mb-1 title">修改餐廳資料</h1>
  <form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
  {{!-- form只有GET、POST兩種方法，如果要PUT必須要用URL使用隱藏路由..但嘗試多次都不能 --}}
    <div class="mb-3">
      <label for="name" class="form-label">餐廳中文名稱</label>
      <input class="form-control" id="name" type="text" name="name" placeholder="" value="{{restaurant.name}}" required>
    </div>
    <div class="mb-3">
      <label for="name-en" class="form-label">餐廳英文名稱</label>
      <input class="form-control" id="name-en" type="text" name="name_en" placeholder="" value="{{restaurant.name_en}}">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">料理類型</label>
      <input id="category" name="category" type="text" class="form-control" list="cat-options" placeholder="" value="{{restaurant.category}}" required>
      <datalist id="cat-options">
        <option value="歐陸地中海">歐陸地中海</option>
        <option value="美式西餐">美式西餐</option>
        <option value="中式">中式</option>
        <option value="台式小吃">台式小吃</option>
      </datalist>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">餐廳照片網址</label>
      <input type="text" name="image" id="image" class="form-control" placeholder="" value="{{restaurant.image}}" required>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">餐廳地址</label>
      <input type="text" name="location" id="location" class="form-control" placeholder="" value="{{restaurant.location}}" required>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">餐廳電話</label>
      <input type="text" name="phone" id="phone" class="form-control" placeholder="" value="{{restaurant.phone}}" required>
    </div>
    <div class="mb-3">
      <label for="google_map" class="form-label">Google地圖</label>
      <input type="url" name="google_map" id="google_map" class="form-control" placeholder="" value="{{restaurant.google_map}}" required>
    </div>
    <div class="mb-3">
      <label for="rating" class="form-label">評分</label>
      <input type="number" name="rating" id="rating" min="0" max="5" step="0.1" class="form-control" placeholder=""
      value="{{restaurant.rating}}"  required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">餐廳描述</label>
      <textarea name="description" id="description" class="form-control" rows="5" required>{{restaurant.description}}</textarea>
      {{!-- 對textarea賦值的位置不一樣! --}}
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        完成修改
      </button>
      <a href="/">
        <button type="button" class="btn btn-outline-secondary">
          返回首頁
        </button>
      </a>
      <button type="reset" class="btn btn-outline-danger">重新輸入</button>
  </form>
</div>